.itemDetail-wrap{
    width: 90%;
    height: 80vh;
    display: flex;
    background-color: black;
    margin: 2em auto 0;
}

.imgSide{
    width: 50%;
}

.imgSide img{
    width: 80%;
    height: 100%;
    
}

.pSide{
    width:120%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.detailCounter p{
    font-size: 2em;
}

.itemInfo{
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: .5em;
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: center;
}