.itemDetail-wrap{
    width: 90%;
    height: 80vh;
    display: flex;
    background-color: black;
    margin: 2em auto 0;
}

.imgSide{
    width: 50%;
}

.imgSide img{
    width: 80%;
    height: 100%;
    
}

.pSide{
    width:120%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.detailCounter p{
    font-size: 2em;
}

.itemInfo{
    font-weight: bold;
    text-align: center;
    color: #CDA987;
    margin-top: .5em;
    font-size: 1em;
    text-align: center;
}

.linkDetail{
    color: white;
    font-size: 1.5em;
}

.linkDetail:hover{
    color: #CDA987;
    text-decoration: underline;
}

.linkWrap{
    display: flex;
    align-items: center;
    height: 4em;
}

.data{
    font-weight: bold;
    text-align: center;
    color: white;
    width: 80%;
    font-size: 1.1em;
    text-align: center;
}
.title{
    font-size: 2em;
}