:root {
    --main-btn-color: #CDA987;
    --main-font-family: 'Montserrat', sans-serif;
  }

.ilc-wrap{

    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-flow: column;
    background-color: var(--main-btn-color);
    min-height: 100%;
}

.greet{
    font-family: var(--main-font-family);
    font-size: 4rem;
    width: 40%;
    text-align: center;
}
