
.item-wrap{
    justify-content: flex-start;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 1em .5em 0;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    
}
.item-wrap img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-top: 1em;
    border: black solid 2px;
}

.nomYPrecio {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: .5em;
    
}

.link:hover{
    text-decoration: none;
}

.nombre{
    font-size: 2em;

}

.precio{
    font-size: 1.5em;
}

