:root {
    --main-btn-color: #CDA987;
    --main-font-family: 'Montserrat', sans-serif;
  }

  body{
      font-family: var(--main-font-family);
  }


.counter-wrap{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 1em;
}

.itemStock{
    background-color: #FFFF ;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;

}
.number{
    background-color: black;
    width: 120%;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    bottom: 8px;
}

.btnItem{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 8px;
}

.btnItem button{
    width: 30%;
    border:2px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    
}